.obrazky{
    display: flex;
    flex-direction: row;
}

.obrazky img{
    width: 50px;
}

header{
    background-color: rgb(107, 99, 99);
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img{
    width: 50px;
}

body{
    margin: 0;
}
main{
    height: 600px;
}

header a{
    color: white;
    text-decoration: none;
}

.obrazky{
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    padding: 36px;
    color: white;
    background-color: rgb(104, 101, 101);

}

.nav{
    display: flex;
    size: 25px;
    gap: 15px;
}

.odkazy a{
    color: white;
    text-decoration: none;
}

.odkazy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.cara{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid white;
    width: 1000px;
    margin: auto;
}

.txt{
    display: flex;
    justify-content: space-evenly;
    gap: 200px; 
}